extends layout

block content
  header.flex-row 
    div.flex-row
      a(href="/") 
        h1 LogInTalk
      a(href="/") 
        img(src="../images/icon.png", alt="icon man")
    div.flex-row 
      a.link(href="/logout") Log out 
      a.link(href="/signup") Sign up  
  main.flex-column 
    each message in messages 
        p User: #{message.user}
        p Date: #{message.formattedTime}
        p Message: #{message.message}
    form(method='POST', action='/messageWindow')
        input(type="text" placeholder="Type your message here" name="message")
        button(type="submit") Submit
