extends layout

block content
  header.flex-row 
    div.flex-row
      a(href="/") 
        h1 LogInTalk
      a(href="/") 
        img(src="../images/icon.png", alt="icon man")
    div.flex-row 
      a.link(href="/logout") Log out 
      a.link(href="/signup") Sign up  
  main.flex-column 
    each message in messages
      div.message-container
        div.name-date-container.flex-row
          p.username #{message.user ? message.user.username : 'Unknown User'}
          p.time #{message.formattedTime}
        p #{message.message}
    form.form-message-submit.flex-row(method='POST', action='/messageWindow')
      input.input-message-submit(type="text" placeholder="Type your message here" name="message")
      button.button-message-submit.link#link-submit-button(type="submit") Submit
