extends layout

block content
  header.flex-row 
    div.flex-row
      a(href="/") 
        h1 LogInTalk
      a(href="/") 
        img(src="../images/icon.png", alt="icon man")
    div.flex-row 
      a.link(href="/logout") Log out 
      a.link(href="/signup") Sign up  
  main.flex-column 
    
  footer.flex-row 
    a(href="https://victoriakapelush.com" target="_blank") Designed and developed by Victoria Kapelush 
